<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="guto.com.graphapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".activities.MainActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activities.EdgeActivity"
            android:label="@string/title_activity_edge"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activities.VertexActivity"
            android:label="@string/title_activity_vertex"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activities.DescriptionActivity"
            android:label="@string/title_activity_description"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activities.GraphActivity"
            android:label="@string/title_activity_graph"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activities.TopSortActivity"
            android:label="@string/title_activity_top_sort"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activities.WarshallActivity"
            android:label="@string/title_activity_warshall"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activities.InputActivity"
            android:label="@string/title_activity_input"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activities.ReferenceActivity"
            android:label="@string/title_activity_reference"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>